#app .callContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid black;
  border-radius: 12px;

  font-size: 12px;

  width: 90%;
  height: 4rem;
  margin: 12px 0;
  padding: 0 6px;
  overflow: hidden;
}

.callContainer .calls {
  display: flex;
  align-items: center;

  margin: 0 auto;

  background: salmon;
}

#app a {
  text-decoration: none;
  color: inherit;
}

#app .callContainer:hover {
  cursor: pointer;
  transition: all 0.6s;

  background: #233142;

  color: #fff;
}
