#app .allCall {
  margin: 1rem auto;

  text-align: center;

  font-size: 1rem;
}

#app .allcallContainer {
  margin: 16px;

  border: 1px solid black;
  border-radius: 12px;
  text-align: center;

  padding: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#app .allcallContainer:hover {
  cursor: pointer;
  transition: all 0.6s;

  background: #233142;

  color: #fff;
  border: 1px solid #fff;
}

#app .allcallContainer svg:hover {
  color: #fff !important;
  border: 1px solid salmon;
}

#app .viaContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
